<div id="galleries">
    {% for gallery in galleries.currentPageResults %}
        <div class="gallery">
            <h2 class="name">
                <a href="{{ url('fsi_gallery_page', {'id': gallery.id}) }}">{{ gallery.name }}</a>
            </h2>
            <p class="description">{{ gallery.description }}</p>
            {% for photo in gallery.photos|slice(0, preview_photos_count) %}
                <img class="thumbnail" src="{{ fsi_file_path(photo.photo)|imagine_filter('fsi_photo_thumbnail') }}" />
            {% endfor %}
        </div>
    {% endfor %}
    <div class="pagination">
        {{ pagerfanta(galleries) }}
    </div>
</div>
